name: Documentation CI

on:
    workflow_call:
        inputs:
            main-branch:
                type: string
                required: false
                default: "refs/heads/main"
            java-version:
                type: number
                required: false
                default: 17
            multi-module:
                type: boolean
                required: false
                default: true                

jobs:
  gradle-validator:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == 'kordlib/kord'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5
  build-docs:
    needs: [gradle-validator]
    runs-on: ubuntu-latest
    if: github.ref == inputs.main-branch
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
            distribution: 'temurin'
            java-version: ${{ inputs.java-version }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew :dokkaGenerate
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: build/dokka/html
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: [build-docs]
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4    
